{% extends "base.html.twig" %}

{% block title %}A La miellerie{% endblock %}

{% block body %}

<div id="page">
	<div id="content">
		<h1 id="title"> blabla </h1>
		<div id ="text-image-container">
			<div id ="text-container">	
				<p>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem <br>
					accusantium doloremque laudantium, totam rem aperiam, eaque ipsa <br>
					quae ab illo inventore veritatis et quasi architecto beatae vitae <br> 
					dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit <br>
					aspernatur aut odit aut fugit, sed quia consequuntur magni dolores <br>
					eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, <br>
					qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, <br>
					sed quia non numquam eius modi tempora incidunt ut labore et dolore <br>
					magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis <br>
					nostrum exercitationem ullam corporis suscipit laboriosam, <br>
					nisi ut aliquid ex ea commodi consequatur? Quis autem vel <br>
	         		eum iure reprehenderit qui in ea voluptate velit esse quam nihil <br>
					molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas <br>
					nulla pariatur? <br>
				</p>
				<div id="product-link">
					<a href="{{ path("app_products_index") }}">nos produits</a>
				</div>
			</div> 
			<div id ="img-container">
				<img src="images/lavande.jpg" alt="image">
			</div>
		</div>
	</div>
	<div id="text-inner-container">
		<h2> notre histoire </h2>
		<p>
			Tous nos miels sont produits exclusivement en France. 
			En tant qu'apiculteurs transhumants, nous déplaçons nos ruches dans différentes régions françaises telles que le Poitou, la Charente, la Vienne, la Corrèze, l’Indre et le Loiret.
			Pour garantir des miels authentiques, sans aucune importation. 
			Chaque région apporte sa spécificité et son caractère unique à nos miels.	
		</p>

		<p>
			Mais comment produisons-nous des miels dits « monofloraux » — lavande, tournesol, châtaignier — en assurant que les abeilles butinent principalement une seule fleur ? <br>
			Bien entendu, nous ne pouvons pas diriger les abeilles dans leur butinage. <br>
			Elles explorent naturellement un rayon de 3 km autour de leur ruche. <br> 
			Nous choisissons donc soigneusement des zones dominées par une seule variété de fleurs et plaçons les ruches au moment parfait de floraison. <br>
			C’est ainsi que chaque miel révèle une identité unique, identifiable par sa couleur, <br>
			sa texture et son goût. <br>

			La Miellerie de l'Herbaudière a vu le jour au cœur du Poitou, dans les Deux-Sèvres, <br>
			en 2021. Cette aventure familiale est née d’une passion pour les abeilles, d'une volonté de préserver la biodiversité, <br>
			et d’un désir de renouveau en agriculture. La Miellerie de l'Herbaudière est bien plus qu'une entreprise apicole : elle incarne un projet familial, <br>
			enraciné dans des valeurs écologiques et sociales fortes, <br>
			et engagé à offrir des miels purement français. <br>
		<p>
	</div>
</div>


{% endblock %}
