{% extends "base.html.twig" %}

{% block title %}A La miellerie{% endblock %}

{% block body %}

<div id="page">
	<div id="content">
		<h1 id="title"> Bienvenue a la miellerie</h1>
		<div id ="text-image-container">
			<div id ="text-container">	
				<p>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem <br>
					accusantium doloremque laudantium, totam rem aperiam, eaque ipsa <br>
					quae ab illo inventore veritatis et quasi architecto beatae vitae <br> 
					dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit <br>
					aspernatur aut odit aut fugit, sed quia consequuntur magni dolores <br>
					eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, <br>
					qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, <br>
					sed quia non numquam eius modi tempora incidunt ut labore et dolore <br>
					magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis <br>
					nostrum exercitationem ullam corporis suscipit laboriosam, <br>
					nisi ut aliquid ex ea commodi consequatur? Quis autem vel <br>
	         		eum iure reprehenderit qui in ea voluptate velit esse quam nihil <br>
					molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas <br>
					nulla pariatur? <br>
				</p>
				<div id="product-link">
					<a href="{{ path("app_products_index") }}">nos produits</a>
				</div>
				</div> 
				<div id ="img-container">
					<img src="images/lavande.jpg" alt="image">
				</div>
			</div>
		</div>

		<div id="history-container">
			<h2 id="title-history"> Notre histoire </h2>
		<div id="text-inner-block">
			<p>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem <br>
				accusantium doloremque laudantium, totam rem aperiam, eaque ipsa <br>
				quae ab illo inventore veritatis et quasi architecto beatae vitae <br> 
				dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit <br>
				aspernatur aut odit aut fugit, sed quia consequuntur magni dolores <br>
				eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, <br>
				qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, <br>
				sed quia non numquam eius modi tempora incidunt ut labore et dolore <br>
				magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis <br>
				nostrum exercitationem ullam corporis suscipit laboriosam, <br>
				nisi ut aliquid ex ea commodi consequatur? Quis autem vel <br>
				eum iure reprehenderit qui in ea voluptate velit esse quam nihil <br>
				molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas <br>
				nulla pariatur? <br>
			</p>
		<div id="info-inner-block"> 
			<p>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem <br>
				accusantium doloremque laudantium, totam rem aperiam, eaque ipsa <br>
				quae ab illo inventore veritatis et quasi architecto beatae vitae <br> 
				dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit <br>
				aspernatur aut odit aut fugit, sed quia consequuntur magni dolores <br>
				eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, <br>
				qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, <br>
				sed quia non numquam eius modi tempora incidunt ut labore et dolore <br>
				magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis <br>
				nostrum exercitationem ullam corporis suscipit laboriosam, <br>
				nisi ut aliquid ex ea commodi consequatur? Quis autem vel <br>
				eum iure reprehenderit qui in ea voluptate velit esse quam nihil <br>
				molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas <br>
				nulla pariatur? <br>

			</p>
		</div>
	</div>
</div>


{% endblock %}
