
{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}

<div class="page">
    <div id="products-content">
        <h1 id="title-products">
            Nos Produits
        </h1>
        
        <div id="products-card-content">
            <div id="cards">
                <h2 id="title-card"> title card </h2>
            </div>
        </div>
    </div>
</div>

{% endblock %}

