
:root {
	--background-color-body: #282828;
	--background-color-card: #3E3E3E;
	--background-color-button: #1C1C1C;
	
	--color-text: #FBFBF8;
	--color-card-text: #5d564f;
	--color-button-text: #e6dfcc; 
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--background-color-body);
}



.pages {
	margin: 0;
	padding: 0;
	color: var(--color-text);
}




/* Style général pour le navbar */
#navbar {
	background-color: #242424;
  	padding: 1em;
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
}

#navbar nav {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	width: 100%;
}


#navbar #logo img {
  	width: 3em;
  	height: auto;
	border-radius: 10em;
}
/* Liens de navigation */
#navlinks {
	display: flex;
 	margin-left: auto; /* Pousse les liens de navigation à droite */	
}

#navlinks ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	display: flex;
	font-size: 1em;
}

#navlinks ul li {
 	margin-left: 20px;
	
}

#navlinks ul li a {
  	text-decoration: none;
  	color: white;
  	padding: 6px 8px;
  	transition: background-color 1.3s ease;

}

#navlinks ul li a:hover {
  	background-color: #575758;
  	border-radius: 6px;
}

/* (liens affichés lorsque l'utilisateur n'est pas connecté) */
#register {
  	display: flex;
}

#register ul {
  	list-style-type: none;
  	margin: 0;
 	padding: 0;
  	display: flex;
	font-size: 1em;
}

#register ul li {
 	 margin-left: 30px;
}

#register ul li a {
  	text-decoration: none;
  	color: white;
  	padding: 6px 10px;
  	transition: background-color 1.3s ease;
}

#register ul li a:hover {
  	background-color: #575758;
  	border-radius: 6px;
}




/* Dropdown menu */
#dropdown_menu {
  	position: relative;
  	margin-left: 20px;
}

#dropdown_menu_image {
  	width: 40px;
  	height: 40px;
	background-color: #fff;
  	border-radius: 50%;
  	cursor: pointer;
}

#dropdown_toggle {
  	position: absolute;
  	opacity: 0;
  	width: 1px;
  	height: 1px;
}

/* Cacher le menu par défaut */
#dropdown_menu ul {
  	background-color: #7A5230;
  	display: none;
  	position: absolute;
  	right: 0;
  	list-style-type: none;
  	padding: 10px;
  	margin: 0;
  	margin-bottom: 2em;
  	border-radius: 6px;
  	box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
  	transform: translateY(2em);
}

#dropdown_menu ul li {
  	padding: 6px 0;
}

#dropdown_menu ul li a,
#dropdown_menu ul li button {
  	color: white;
  	text-decoration: none;
 	background: none;
  	border: none;
  	cursor: pointer;
  	padding: 11px 20px;
  	display: block;
  	text-align: left;
}

#dropdown_menu ul li a:hover,
#dropdown_menu ul li button:hover {
  	background-color: #575758;
  	border-radius: 6px;
}

/* Montrer le menu au clic */
#dropdown_toggle:checked + label + ul {
  	display: block;
}


/* HOMEPAGE */



#content {
	width: auto;
	height: 100%;
	margin: 1em;
	padding: 1em;
	background-color: var(--background-color-card);
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin-bottom: 2em;
}

#title {
	display: flex;
	justify-content: center;
	color: var(--color-text);
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;	
	margin: 0.5em 0;
}

#text-image-container {
	display: flex;	
	gap: 20px;
}

#text-container {
	flex: 1;
	height: 100%;
	padding: 2em;
	background-color: #626262;
	border-radius: 5px;
}

#text-container p {
    color: var(--color-text);
    line-height: 1.6;
    font-size: 1.1em;
    font-family: "Georgia", serif;
    text-align: justify; 
}


#product-link { 
	display: flex;
    justify-content: center;
}

#product-link a {
    display: inline-block;
    padding: 0.8em 1.5em;
    font-weight: bold;
    color: var(--color-text);
    background-color: var(--background-color-button); /* Couleur principale du bouton */
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.2s;
}

#product-link a:hover {
    transform: translateY(-5px); /* Déplacement vers le haut */
}



#img-container {
	width: auto; 
	height: 100%;
}

#img-container img {	
	width: 60em; 
	border-radius: 5px;
}


#history-container {
	width: auto;
	height: 100%;
	margin: 1em;
	padding: 1em;
	background-color: var(--background-color-card);
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin-bottom: 2em; /* Ajoute un espace en bas du bloc */
}

#title-history {
	display: flex;
	justify-content: center;
	color: var(--color-text);
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0.5em 0;
}

#text-inner-block {
	width: auto;
	height: 100%;
	margin: 2em; /* Ajout de marge autour pour plus d'espace */
	padding: 2em;
	background-color: #383838;
	border-radius: 1em;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);


}
#text-inner-block {
	flex: 1;
	padding: 1em;
	color: var(--color-text);
	background-color: #383838;
	border-radius: 5px;
}


.form-register-page {
    display: flex;
    justify-content: center;
    align-items: center;
	margin: 1em;
	padding: 2em;
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 2em;
	margin: 1em;
    background-color: var(--background-color-card);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#sign {
    font-size: 1.8em;
    color: var(--color-text);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
	display: flex;
	justify-content: center;
}

.label {
    margin-top: 1rem;
    font-size: 0.9em;
    color: var(--color-text);
}

.field {
    margin-top: 0.5rem;
}

.field input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.field input:focus {
    border-color: #5b9bd5;
    outline: none;
}

.alert {
    background-color: #ffefef;
    color: var(--color-text);
    padding: 0.8rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.9em;
}

.checkbox {
    margin-top: 1rem;
    font-size: 0.9em;
    color: var(--color-text);
    display: flex;
	justify-content: center;
    align-items: center;
    gap: 0.5rem;
}




#rgpd {
    display: flex;
    align-items: center;
	justify-content: center;
    gap: 0.5em;
    font-size: 0.9em;
    color: var(--color-text);
    margin-top: 1rem;
}

#rgpd input[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}

#rgpd label {
    font-weight: bold;
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

button[type="submit"] {
    padding: 0.8rem 1.5rem;
    font-size: 1em;
    color: #ffffff;
    background-color: #5b9bd5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}




